/* Reset some styles for safety */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main wrapper for loader, isolated from body */
.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background:  #0A192F;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* ensure it stays above all content */
}

 body {
	background:  #0A192F;
}
svg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
}
